.header{
    display: inline-block;
    font-size: 16px;
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: #7e96bb;
    padding:0 30px;
    a{
        color:#333;
    }
    .root_ctive{
        color:rgb(252, 247, 247);
        font-size: 18px;
    }
}

